header {
    background-color: #1F2937;
    color:#F9FAF8;
    display:flex;
    justify-content: space-between;
}
#logo {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    display:flex;
    align-self:center;
    margin:10px;
    padding:15px;
    gap:8px;
}
ul {
    list-style: none;
    display:flex;
    align-self:center;
    margin:10px;
    padding: 15px;
    gap: 20px;
}
a {
    color:#F9FAF8;
    text-decoration: none;
}
.boxone {
    background-color: #1F2937;
    color:#F9FAF8;
    padding:8px;
    margin:0;
    display:flex;
}
.boxonewords {
    display:flex;
    flex-direction: column;
    flex-grow:0;
}
.boxoneimg {
    align-self: center;
    background-color: gray;
    height:150px;
    width:300px;
}
button {
    background-color:#3882F6;
    color: #F9FAF8;
    font-size: 16px;
    padding: 10px 16px;
    border-radius:8px;
    width: 100px;
    border:none;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #85f316;
}
h2 {
    text-align: center;
}
.imggroup {
    border: solid 5px #3882F6;
    border-radius: 8px;
    height:150px;
    width: 150px;
    display:flex;
    flex-direction: column;
}
.boxtwoimg {
    display:flex;
    justify-content: center;
    align-items: center;
}
.boxthree {
    background-color: #E5E7EB;
    color:#1F2937;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    height: 250px;
    width:100%;
    padding: 15px;
    margin: 0;
    display:flex;
    align-items: center;
}
.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
footer {
    text-align:center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding:15px;
}