/* GENERAL CSS */
*{
    padding:0;
    margin:0;
}
body{
    font-family:Roboto, sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/* HEADER CSS */
.header-hero-wrapper{
    background-color: #1f2937;
}
.header{
    font-size: 18px;
    margin:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.header-links{
    list-style-type: none;
    gap:10px;
    display:flex;
}
a:link, a:visited, a:active{
    text-decoration:none;
    color: azure;
}
a{
    box-shadow: inset 0 0 0 0 rgb(6, 175, 175);
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover{
    box-shadow: inset 100px 0 0 0 rgb(6, 175, 175);
    color: azure;
}

/* INFO BLOCK CSS */
.info-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:azure;
}
.instruction {
    padding: 10px 75px;
    padding-bottom: 20px;
}
.info-image {
    height:150px;
    width:150px;
    margin:20px;
    padding:10px;
}

/* QUOTE FORM CSS */
.quote-form-wrapper {
    color: #1f2937;
    display: flex;
}
.quote-form-wrapper div {
    padding:10px;
}
.quote-submit{
    background-color:#54b3d6;
    font-size:14px;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding:5px 20px;
    border:2px solid #54b3d6;
}
.quote-submit:hover{
    background-color: #1f2937;
    color:azure;
}
.quote-reset{
    background-color:#54b3d6;
    font-size:14px;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding:5px 20px;
    border:2px solid #54b3d6;
}
.quote-reset:hover{
    background-color: #1f2937;
    color:azure;
}